html {
    --sm: 1.6rem;
    --md: 1.8rem;
    --lg: 2.4rem;
    --xl: 3.5rem;
    --xxl: 4.5rem;
    --pageMargin: 1.8rem;
    --sectionPadding: 4rem;
    --sectionMargin: 9.6rem;
    --subsectionMargin: 7.2rem;
    --cardSectionPadding: 2.8rem;
    --widerPageMargin: 0rem;
    --layoutWithSidebarGap: 1rem;
    --sidebarWidth: 0rem;
    --gap: 1.6rem;
    --radius: 1.2rem;
    --modalScreenDefaultMinInset: 3.8rem
}

:root {
    --grid-gap: var(--gap);
}

a {
    background-color: transparent
}

html {
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: transparent;
    text-wrap: pretty;
    --ac10: rgba(141, 117, 230, .1);
    --ac25: #f8f2f6;
    --ac50: #f3ecf7;
    --ac: #8d75e6;
    --ac100: #eadff8;
    --ac200: #d7c4fa;
    --ac300: #c2aafa;
    --ac400: #a990f5;
    --ac600: #7f69ce;
    --ac700: #6956a8;
    --ac800: #4d3e78;
    --ac900: #32274b;
    --PageBg: #fcf9f5;
    --PanelBg: #fcf9f5;
    --intercomBannerHeight: 0px;
    --SiteNavHeight: 58px;
    accent-color: #8d75e6;
    background-color: var(--PageBg, #fcf9f5);
    color: var(--PageForegroundColor, #32313b);
    font-family: Roobert, -apple-system, BlinkMacSystemFont, Arial, Roboto, Ubuntu, Helvetica Neue, sans-serif;
    font-size: 10px;
    font-weight: 400;
    text-rendering: optimizeLegibility
}

@media (min-width:640px) {
    html {
        --SiteNavHeight: 88px
    }
}

html[data-color-scheme=light] {
    --PanelBg: #fcf9f5
}

html[data-color-scheme=dark] {
    --PanelBg: #222027
}

html.supports-color-schemes {
    color-scheme: light dark
}

html.supports-color-schemes[data-color-scheme=light] {
    --PageBg: #fcf9f5;
    background-color: var(--PageBg, #fcf9f5);
    color: #4d3e78;
    color-scheme: light
}

html.supports-color-schemes[data-color-scheme=dark] {
    --PageBg: #222027;
    --PanelBg: #222027;
    background-color: #222027;
    color: #fff;
    color-scheme: dark
}

html:before {
    background-color: #32274b;
    border-bottom: 1px solid #4d3e78;
    box-sizing: border-box;
    height: calc(var(--intercomBannerHeight) + 1px);
    left: 0;
    right: 0;
    top: 0
}

html:after,
html:before {
    content: "";
    display: block;
    opacity: 0;
    position: fixed;
    transform: translateY(-100%);
    z-index: 1005
}

html:after {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='26' height='9' fill='none' viewBox='0 0 26 9'%3E%3Cpath fill='%234D3E78' d='M0 1h26v1h-5.172a2 2 0 0 0-1.414.586l-5 5a2 2 0 0 1-2.828 0l-5-5A2 2 0 0 0 5.172 2H0V1Z'/%3E%3Cpath fill='%2332274B' d='M0 0h26v1h-5.672a2 2 0 0 0-1.414.586l-5.207 5.207a1 1 0 0 1-1.414 0L7.086 1.586A2 2 0 0 0 5.672 1H0V0Z'/%3E%3C/svg%3E");
    height: 9px;
    left: calc(50% - 13px);
    top: calc(var(--intercomBannerHeight) - 1px);
    width: 26px
}

html[data-has-intercom-banner]:after,
html[data-has-intercom-banner]:before {
    opacity: 1;
    transform: translateY(0);
    transition: transform .25s ease 0s, opacity .25s ease 0s
}


.wyjs3kx {
    position: relative
}

@media (max-width:719px) {

    .r1q63jot>.Button:nth-child(1),
    .r1q63jot>.Button:nth-child(2),
    .r1q63jot>:nth-child(1),
    .r1q63jot>:nth-child(2) {
        display: none;
    }
}

@media (min-width:720px) {
    .r1q63jot {
        align-items: center;
        border-radius: .5em;
        display: flex;
        align-items: center;
    }
}

.r1q63jot .Button {
    border-radius: .5em;
    display: flex;
    font-size: inherit;
    position: relative
}

@media (min-width:720px) {
    .r1q63jot .Button:before {
        background-color: var(--GlobalNavBg);
        border-radius: .5em;
        bottom: 0;
        content: "";
        display: block;
        left: 0;
        opacity: 0;
        position: absolute;
        right: 0;
        top: 0;
        transition: opacity .1s
    }

    @supports ((-webkit-backdrop-filter:blur(1.5em)) or (backdrop-filter:blur(1.5em))) {
        .r1q63jot .Button:before {
            background-color: var(--GlobalNavBgWhenBlurred)
        }
    }

    .scrolled .r1q63jot .Button:before {
        opacity: 1
    }

    @supports ((-webkit-backdrop-filter:blur(1.5em)) or (backdrop-filter:blur(1.5em))) {
        .scrolled .r1q63jot .Button {
            -webkit-backdrop-filter: saturate(1.1) blur(1.5em);
            backdrop-filter: saturate(1.1) blur(1.5em)
        }
    }

    .r1q63jot .Button:hover~b i {
        opacity: 0
    }
}

.r1q63jot .Button .ButtonInner {
    border-radius: .5em;
    color: #333;
    min-width: unset
}

@media (max-width:719px) {
    .r1q63jot .Button .ButtonInner {
        min-height: unset;
        padding: .66em .75em
    }
}

@media (min-width:720px) {
    .r1q63jot .Button .ButtonInner {
        padding: .5em .75em
    }
}

@media (min-width:1194px) {
    .r1q63jot .Button .ButtonInner {
        padding: .5em 1.25em
    }
}

.r1q63jot .Button .ButtonInner:hover {
    color: #222;
    background-color: var(--GlobalNavAccent20, rgba(141, 117, 230, .2))
}

.r1q63jot b {
    display: block;
    font-weight: inherit;
    justify-self: center
}

.scrolled .r1q63jot b {
    opacity: 0
}

.r1q63jot b i {
    background-color: currentColor;
    display: block;
    height: 1.25em;
    opacity: .25;
    width: 1px
}

.sadpix4 {
    align-items: center;
    color: var(--GlobalNavFg);
    display: grid;
    grid-template-columns: auto minmax(auto, 1fr);
    margin-left: auto;
    margin-right: auto;
    max-width: 1520px;
    padding: 1em 1em 1em 1.25em;
    position: relative;
    -webkit-user-select: none;
    user-select: none
}

@media (min-width:720px) {
    .sadpix4 {
        grid-gap: .5em;
        align-items: center;
        grid-template-areas: "start middle end";
        grid-template-columns: minmax(auto, 1fr) auto minmax(auto, 1fr);
        height: 72px;
    }
}

@media (min-width:1024px) {
    .sadpix4 {
        grid-gap: 1em
    }
}

.sadpix4 a {
    -webkit-text-decoration: none;
    text-decoration: none
}

@media (max-width:719px) {
    .sn0eqbh {
        background-color: var(--GlobalNavBgMobile);
        height: 58px;
        left: 0;
        opacity: 0;
        pointer-events: none;
        position: absolute;
        right: 0;
        top: 0;
        transition: opacity .1s;
        z-index: 1
    }

    @supports ((-webkit-backdrop-filter:blur(1.5em)) or (backdrop-filter:blur(1.5em))) {
        .sn0eqbh {
            -webkit-backdrop-filter: blur(1.5em);
            backdrop-filter: blur(1.5em);
            background-color: var(--GlobalNavBgMobileBlurred)
        }
    }
}

@media (min-width:720px) {
    .sn0eqbh {
        display: none
    }
}

.s1jj6obu {
    display: flex;
    position: relative
}

@media (max-width:719px) {
    .s1jj6obu {
        z-index: 1
    }
}

@media (min-width:720px) {
    .s1jj6obu {
        grid-area: start
    }
}

.s1jj6obu a {
    display: block;
    pointer-events: auto
}

@media (min-width:920px) {
    .s1jj6obu a {
        color: var(--NavLogoColor, inherit)
    }
}

.s1jj6obu a svg {
    display: block
}

.s1jj6obu:after {
    content: "";
    flex: 1 1 100%;
    min-width: .75em
}

@media (max-width:719px) {
    .m1qwem6a {
        left: 0;
        position: fixed;
        right: 0;
        top: 0;
        transition: transform .5s cubic-bezier(.075, .82, .165, 1)
    }
}

@media (min-width:720px) {
    .m1qwem6a {
        grid-gap: .5em;
        display: grid;
        grid-area: middle;
        grid-template-columns: minmax(auto, 1fr) auto
    }
}

.simpleHeader .m1qwem6a {
    display: none !important
}

.e13ssh3j {
    display: flex;
    justify-content: flex-end;
    position: relative
}

@media (max-width:719px) {
    .e13ssh3j {
        z-index: 1
    }
}

@media (min-width:720px) {
    .e13ssh3j {
        grid-area: end
    }
}

.e13ssh3j>* {
    pointer-events: auto
}

.e13ssh3j>*+* {
    margin-left: .25em
}

.mhl4efu {
    align-items: center;
    appearance: none;
    background-color: transparent;
    border: 0;
    color: inherit;
    display: block;
    display: flex;
    flex: 0 0 auto;
    height: 3.2rem;
    justify-content: center;
    padding: .5em;
    width: 3.2rem
}

.mhl4efu svg {
    transition: .1s
}

@media (min-width:720px) {
    .mhl4efu {
        display: none
    }
}

.mhl4efu:active svg {
    transform: scale(.9)
}

.simpleHeader .mhl4efu {
    display: none !important
}


.n1ugx7rw {
    background-color: rgba(35, 26, 50, 0.3);
    position: relative;
    transition: opacity .1s
}

@supports ((-webkit-backdrop-filter:blur(1.5em)) or (backdrop-filter:blur(1.5em))) {
    .n1ugx7rw {
        background-color: rgba(35, 26, 50, 0.3);
    }
}

@media (max-width:719px) {
    .n1ugx7rw {
        background-color: var(--GlobalNavBgMobile);
        border-bottom: 1px solid var(--BorderColor, hsla(30, 3%, 69%, .1));
        max-height: calc(100vh - 3em);
        opacity: 0;
        overflow: auto;
        padding-bottom: .25em;
        padding-top: 58px;
        top: var(--intercomBannerHeight, 0)
    }

    @supports ((-webkit-backdrop-filter:blur(1.5em)) or (backdrop-filter:blur(1.5em))) {
        .n1ugx7rw {
            -webkit-backdrop-filter: saturate(1.1) blur(1.5em);
            backdrop-filter: saturate(1.1) blur(1.5em);
            background-color: var(--GlobalNavBgMobileBlurred)
        }
    }
}

@media (min-width:720px) {
    .n1ugx7rw {
        border-radius: 3em;
        pointer-events: auto
    }
}

.n1l29imn {
    display: grid
}

@media (max-width:719px) {
    .n1l29imn {
        grid-auto-flow: row;
        transition: opacity .1s;
    }
}

@media (min-width:720px) {
    .n1l29imn {
        align-items: center;
        grid-auto-flow: column;
    }

    @supports ((-webkit-backdrop-filter:blur(1.5em)) or (backdrop-filter:blur(1.5em))) {
        .n1l29imn:before {
            -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
            background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
            border-radius: 3em;
            bottom: 0;
            content: "";
            left: 0;
            position: absolute;
            right: 0;
            top: 0
        }
    }
}

.s1fu9p80 {
    left: 0;
    position: fixed;
    right: 0;
    top: var(--intercomBannerHeight, 0);
    background-color: #fff;
    transition: top .25s;
    z-index: 1004
}

@media (max-width: 719px) {
    .s1fu9p80 {
        font-size: 1.3rem;
    }

    .s1fu9p80:before {
        content: "";
        left: 0;
        opacity: 0;
        pointer-events: none;
        position: absolute;
        right: 0;
        top: 0;
        transition: opacity .3s;
    }

    @supports ((-webkit-backdrop-filter: blur(1em)) or (backdrop-filter: blur(1em))) {
        .s1fu9p80:before {
            bottom: 0;
        }
    }

    @supports not ((-webkit-backdrop-filter: blur(1em)) or (backdrop-filter: blur(1em))) {
        .s1fu9p80:before {
            background-image: linear-gradient(to bottom, var(--GlobalNavBg) 25%, var(--GlobalNavBgTransparent));
            bottom: -0.5em;
        }
    }

    .scrolled .s1fu9p80 .n1ugx7rw {
        opacity: 1;
    }
}

@media (min-width:720px) {
    .s1fu9p80 {
        font-size: 1.2rem;
        pointer-events: none
    }
}

@media (min-width:920px) {
    .s1fu9p80 {
        font-size: 1.3rem
    }
}

.m1ysobqu {
    left: -24px;
    opacity: 0;
    position: absolute;
    top: -24px
}

@media (max-width:719px) {
    .m1ysobqu:not(:checked)~.m1qwem6a {
        pointer-events: none;
        transform: translateY(calc(-100% + 59px))
    }

    .m1ysobqu:not(:checked)~.m1qwem6a .n1l29imn {
        opacity: 0
    }

    .m1ysobqu:not(:checked)~.e13ssh3j .mhl4efu .close {
        display: none
    }

    .m1ysobqu:not(:checked)~.e13ssh3j .mhl4efu .menu {
        display: block
    }

    .m1ysobqu:checked~.sn0eqbh {
        opacity: 1;
        transition: opacity .3s
    }

    .m1ysobqu:checked~.m1qwem6a {
        pointer-events: auto;
        transform: translateY(0)
    }

    .m1ysobqu:checked~.m1qwem6a .n1ugx7rw {
        opacity: 1
    }

    @supports ((-webkit-backdrop-filter:blur(1.5em)) or (backdrop-filter:blur(1.5em))) {
        .m1ysobqu:checked~.m1qwem6a .n1ugx7rw {
            -webkit-backdrop-filter: saturate(1.1) blur(1.5em) brightness(.9);
            backdrop-filter: saturate(1.1) blur(1.5em) brightness(.9)
        }
    }

    .m1ysobqu:checked~.m1qwem6a .n1l29imn {
        opacity: 1
    }

    .m1ysobqu:checked~.e13ssh3j .mhl4efu .close {
        display: block
    }

    .m1ysobqu:checked~.e13ssh3j .mhl4efu .menu {
        display: none
    }
}


.nrl6nth {
    display: block;
    font-weight: 600;
    position: relative
}

.nrl6nth:hover span {
    color: #fff;
}


.nrl6nth>a,
.nrl6nth>span {
    align-items: center;
    cursor: pointer;
    display: flex;
    overflow: hidden;
    position: relative
}

@media (max-width:719px) {

    .nrl6nth>a,
    .nrl6nth>span {
        justify-content: space-between;
        padding: 1.25em 1.5em
    }
}

@media (min-width:720px) {

    .nrl6nth>a,
    .nrl6nth>span {
        padding: .875em .5em
    }
}

@media (min-width:768px) {

    .nrl6nth>a,
    .nrl6nth>span {
        padding: .875em .75em
    }
}

.nrl6nth>a>*,
.nrl6nth>span>* {
    display: block;
    position: relative
}

.nrl6nth>a>*+*,
.nrl6nth>span>*+* {
    margin-left: .375em
}

@media (min-width:720px) {

    .nrl6nth>a:before,
    .nrl6nth>span:before {
        background-color: rgba(255, 255, 255, 0.06);
        bottom: 0;
        content: "";
        display: block;
        left: 0;
        opacity: 0;
        position: absolute;
        right: 0;
        top: 0;
        transform: scale(.9) translateY(50%);
        transition: .1s
    }
}

.nrl6nth a {
    -webkit-text-decoration: none;
    text-decoration: none;
    color: #333;
}

@media (max-width:719px) {
    .n2po2ee {
        position: relative
    }

    .n2po2ee+:before {
        background-color: currentColor;
        content: "";
        display: block;
        height: 1px;
        left: 0;
        opacity: .15;
        position: absolute;
        right: 0;
        top: 0
    }
}

@media (min-width:720px) {
    .n2po2ee+* {
        margin-left: -.4em
    }

    .n2po2ee.mobileOnly {
        display: none
    }

    .n2po2ee:first-child .nrl6nth>a,
    .n2po2ee:first-child .nrl6nth>span {
        padding-left: 1.5em
    }

    .n2po2ee:first-child .nrl6nth>a:before,
    .n2po2ee:first-child .nrl6nth>span:before {
        border-bottom-left-radius: 3em;
        border-top-left-radius: 3em
    }

    .n2po2ee.lastMajorItem .nrl6nth>a,
    .n2po2ee.lastMajorItem .nrl6nth>span {
        padding-right: 1em
    }

    .n2po2ee.lastMajorItem .nrl6nth>a:before,
    .n2po2ee.lastMajorItem .nrl6nth>span:before {
        border-bottom-right-radius: 3em;
        border-top-right-radius: 3em
    }

    .n2po2ee:hover .sfseyc8 {
        opacity: 1;
        transform: translateY(0);
        transition: .1s
    }

    .n2po2ee:hover .s1fh1t8s {
        opacity: 1;
        z-index: 1
    }

    .n2po2ee:hover .spzay5d {
        pointer-events: auto;
        transform: translateY(0);
        transition: .1s
    }

    .n2po2ee:hover .nrl6nth>a:before,
    .n2po2ee:hover .nrl6nth>span:before {
        opacity: 1;
        transform: scale(1) translateY(0)
    }
}

@media (min-width:1366px) {
    .n2po2ee+* {
        margin-left: -.25em
    }
}

.bq638be {
    display: block;
    transition: opacity .1s
}

.b1cqpofj {
    align-items: center;
    border-radius: var(--b1cqpofj-0);
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    display: flex;
    flex: 1 1 100%;
    font-size: inherit;
    font-weight: 600;
    justify-content: center;
    line-height: 1;
    min-height: 2.75em;
    min-width: 6.5em;
    padding: var(--b1cqpofj-1);
    position: relative;
    text-align: center;
    -webkit-text-decoration: none;
    text-decoration: none;
    white-space: nowrap;
    width: 100%
}

.b1cqpofj.allowWrap {
    white-space: normal
}

.b1cqpofj.filled {
    background-color: var(--b1cqpofj-2);
    border-color: transparent;
    color: #fff
}

.b1cqpofj.filled:hover {
    filter: brightness(1.1)
}

.b1cqpofj.transparent {
    border-color: transparent;
    color: var(--b1cqpofj-3)
}

.b1cqpofj.transparent:hover {
    background-color: var(--b1cqpofj-4)
}

.b1cqpofj.filled-white {
    background-color: #fcf9f5;
    border-color: transparent;
    color: var(--b1cqpofj-5)
}

.b1cqpofj.filled-white:hover {
    background-color: hsla(34, 54%, 97%, .9)
}

.b1cqpofj.outlined {
    background-color: transparent;
    border-color: currentColor;
    color: var(--b1cqpofj-2)
}

.b1cqpofj.outlined:hover {
    background-color: var(--b1cqpofj-4)
}

@media (min-width:640px) {
    .b1cqpofj {
        padding: var(--b1cqpofj-8)
    }
}

.b1cqpofj:focus {
    box-shadow: 0 0 2px 2px #3ab07f
}

.b1cqpofj:active {
    filter: brightness(.9)
}

.b1cqpofj[disabled] {
    cursor: not-allowed;
    opacity: .5
}

.b1cqpofj.loading {
    opacity: .8;
    pointer-events: none
}

.b1cqpofj.loading .bq638be {
    opacity: 0
}
